!!! Strict
%html{:lang => "pt-br", "xml:lang" => "pt-br", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:name => "keywords", :content => "#{t('keywords')}"}/
    %link{:href => "stylesheets/main.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:type => "text/javascript", :src => "javascripts/jquery-1.4.4.min.js"}
    %title
      = "SuccesSoft - #{@title}"
  %body
    #site
      #header
        %h1
          = link_to "SuccesSoft", root_path, :title => "SuccesSoft"
        #menu
          %ul.nav.top
            = partial 'menu'
      #content
        - if env['x-rack.flash'][:notice]
          #flash
            %h2.notice
              = env['x-rack.flash'][:notice]
        - if env['x-rack.flash'][:alert]
          #flash
            %h2.alert
              = env['x-rack.flash'][:alert]
        = yield
      .clear
      #footer
        .footer
          .submenu
            %ul.nav
              = partial 'menu'
          .webmais
            %a{:href => "http://www.webmais.net.br", :title => "Webmais Desenvolvimento para Internet"}
              %img{:alt => "WebMais", :src => "images/webmais.png"}/
          .clear
          .address
            %span Endereço: Lorem ipsum dolor sit amet consectetur, 450, Centro, SP
            %span Tel.: +55(31)3661.9090 / Cell Phone.: +55(31)9876.8909
            %p
              Todos os direitos reservados a
              %strong SuccesSoft
              \~ 2010-2011
          .logo
            %a{:href => "", :title => ""}
              %img{:alt => "", :src => "images/logo2.png"}/
